!!! 5
html.no-js(manifest='manifest.appcache')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Mondo BioDiverso
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory 
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    script(src='scripts/vendor/modernizr.min.js')
  body
    .navbar.navbar-static-top
      .navbar-inner
        a.brand(href='#') Mondo Biodiverso
        ul.nav
          li#restart
            a
              span Ricomincia
          li#goFullScreen
            a
              span Schermo pieno
    .container(style='margin-top: 50px;')
      .chart#slider
      .chart#tree
    #preload-content(hidden)
      img(src="images/flexslider/bg_direction_nav.png")
      img(src="images/glyphicons-halflings.png")
      img(src="images/items/871020_0.jpg")
      img(src="images/items/834020_0.jpg")
      img(src="images/items/816010_0.jpg")
      img(src="images/items/827020_0.jpg")
      img(src="images/items/855020_1.jpg")
      img(src="images/items/200_0.jpg")
      img(src="images/items/690_0.jpg")
      img(src="images/items/300_0.jpg")
      img(src="images/items/955010_0.jpg")
      img(src="images/items/870010_1.jpg")
      img(src="images/items/846010_0.jpg")
      img(src="images/items/10_1.jpg")
      img(src="images/items/30_0.jpg")
      img(src="images/items/842010_0.jpg")
      img(src="images/items/916010_0.jpg")
      img(src="images/items/934020_0.jpg")
      img(src="images/items/210_1.jpg")
      img(src="images/items/310_0.jpg")
      img(src="images/items/590_0.jpg")
      img(src="images/items/390_0.jpg")
      img(src="images/items/971020_2.jpg")
      img(src="images/items/450_0.jpg")
      img(src="images/items/944030_0.jpg")
      img(src="images/items/953020_0.jpg")
      img(src="images/items/874010_1.jpg")
      img(src="images/items/914010_0.jpg")
      img(src="images/items/945020_0.jpg")
      img(src="images/items/851020_0.jpg")
      img(src="images/items/964020_1.jpg")
      img(src="images/items/400_0.jpg")
      img(src="images/items/958020_0.jpg")
      img(src="images/items/813020_0.jpg")
      img(src="images/items/814010_0.jpg")
      img(src="images/items/924020_0.jpg")
      img(src="images/items/958010_0.jpg")
      img(src="images/items/873010_0.jpg")
      img(src="images/items/500_0.jpg")
      img(src="images/items/460_0.jpg ")
      img(src="images/items/540_0.jpg")
      img(src="images/items/700_0.jpg")
      img(src="images/items/973010_0.jpg")
      img(src="images/items/570_0.jpg")
      img(src="images/items/836010_0.jpg")
      img(src="images/items/550_0.jpg")
      img(src="images/items/927020_0.jpg")
      img(src="images/items/80_0.jpg")
      img(src="images/items/340_0.jpg")
      img(src="images/items/730_0.jpg")
      img(src="images/items/953010_0.jpg")
      img(src="images/items/966020_0.jpg")
      img(src="images/items/818010_0.jpg")
      img(src="images/items/864020_0.jpg")
      img(src="images/items/844040_0.jpg")
      img(src="images/items/320_0.jpg")
      img(src="images/items/740_0.jpg")
      img(src="images/items/650_1.jpg")
      img(src="images/items/120_0.jpg")
      img(src="images/items/809020_0.jpg")
      img(src="images/items/835010_0.jpg")
      img(src="images/items/270_0.jpg")
      img(src="images/items/806010_0.jpg")
      img(src="images/items/70_0.jpg")
      img(src="images/items/955020_0.jpg")
      img(src="images/items/866020_1.jpg")
      img(src="images/items/620_0.jpg")
      img(src="images/items/849010_0.jpg")
      img(src="images/items/913010_0.jpg")
      img(src="images/items/190_0.jpg")
      img(src="images/items/926010_0.jpg")
      img(src="images/items/870010_0.jpg")
      img(src="images/items/140_0.jpg")
      img(src="images/items/971010_0.jpg")
      img(src="images/items/949020_0.jpg")
      img(src="images/items/180_0.jpg")
      img(src="images/items/863020_0.jpg")
      img(src="images/items/859020_0.jpg")
      img(src="images/items/827010_0.jpg")
      img(src="images/items/934010_0.jpg")
      img(src="images/items/110_0.jpg")
      img(src="images/items/845020_0.jpg")
      img(src="images/items/720_0.jpg")
      img(src="images/items/923020_0.jpg")
      img(src="images/items/948010_0.jpg")
      img(src="images/items/853020_0.jpg")
      img(src="images/items/410_0.jpg")
      img(src="images/items/916020_0.jpg")
      img(src="images/items/946010_0.jpg")
      img(src="images/items/160_0.jpg")
      img(src="images/items/370_0.jpg")
      img(src="images/items/844030_0.jpg")
      img(src="images/items/858030_0.jpg")
      img(src="images/items/580_0.jpg")
      img(src="images/items/819010_0.jpg")
      img(src="images/items/816010_1.jpg")
      img(src="images/items/973020_0.jpg")
      img(src="images/items/230_0.jpg")
      img(src="images/items/858020_0.jpg")
      img(src="images/items/907020_0.jpg")
      img(src="images/items/170_0.jpg")
      img(src="images/items/100_0.jpg")
      img(src="images/items/935010_0.jpg")
      img(src="images/items/913020_0.jpg")
      img(src="images/items/938010_0.jpg")
      img(src="images/items/958030_0.jpg")
      img(src="images/items/928010_0.jpg")
      img(src="images/items/650_0.jpg")
      img(src="images/items/430_0.jpg")
      img(src="images/items/866010_0.jpg")
      img(src="images/items/928020_0.jpg")
      img(src="images/items/949010_0.jpg")
      img(src="images/items/968010_1.jpg")
      img(src="images/items/100_1.jpg")
      img(src="images/items/970010_0.jpg")
      img(src="images/items/280_0.jpg")
      img(src="images/items/938020_0.jpg")
      img(src="images/items/927010_0.jpg")
      img(src="images/items/871010_0.jpg")
      img(src="images/items/130_0.jpg")
      img(src="images/items/944010_0.jpg")
      img(src="images/items/869020_0.jpg")
      img(src="images/items/874020_1.jpg")
      img(src="images/items/844010_0.jpg")
      img(src="images/items/842020_0.jpg")
      img(src="images/items/873020_0.jpg")
      img(src="images/items/10_0.jpg")
      img(src="images/items/918020_0.jpg")
      img(src="images/items/860010_0.jpg")
      img(src="images/items/680_0.jpg")
      img(src="images/items/849020_0.jpg")
      img(src="images/items/816020_1.jpg")
      img(src="images/items/951010_0.jpg")
      img(src="images/items/938010_1.jpg")
      img(src="images/items/951020_0.jpg")
      img(src="images/items/855010_0.jpg")
      img(src="images/items/470_0.jpg")
      img(src="images/items/868010_0.jpg")
      img(src="images/items/942020_0.jpg")
      img(src="images/items/907010_0.jpg")
      img(src="images/items/836020_0.jpg")
      img(src="images/items/968010_0.jpg")
      img(src="images/items/936010_0.jpg")
      img(src="images/items/932010_0.jpg")
      img(src="images/items/832010_0.jpg")
      img(src="images/items/330_0.jpg")
      img(src="images/items/828010_0.jpg")
      img(src="images/items/110_1.jpg")
      img(src="images/items/60_0.jpg")
      img(src="images/items/824020_0.jpg")
      img(src="images/items/813010_0.jpg")
      img(src="images/items/851010_1.jpg")
      img(src="images/items/826010_0.jpg")
      img(src="images/items/909020_0.jpg")
      img(src="images/items/807010_0.jpg")
      img(src="images/items/944040_0.jpg")
      img(src="images/items/90_0.jpg")
      img(src="images/items/874020_0.jpg")
      img(src="images/items/874010_0.jpg")
      img(src="images/items/350_0.jpg")
      img(src="images/items/919010_0.jpg")
      img(src="images/items/853010_0.jpg")
      img(src="images/items/808010_0.jpg")
      img(src="images/items/944020_0.jpg")
      img(src="images/items/360_0.jpg")
      img(src="images/items/969020_0.jpg")
      img(src="images/items/220_0.jpg")
      img(src="images/items/866020_0.jpg")
      img(src="images/items/480_0.jpg")
      img(src="images/items/818020_0.jpg")
      img(src="images/items/966010_1.jpg")
      img(src="images/items/490_0.jpg")
      img(src="images/items/440_0.jpg")
      img(src="images/items/40_0.jpg")
      img(src="images/items/955020_1.jpg")
      img(src="images/items/560_0.jpg")
      img(src="images/items/942010_0.jpg")
      img(src="images/items/640_0.jpg")
      img(src="images/items/828020_0.jpg")
      img(src="images/items/911010_0.jpg")
      img(src="images/items/956020_0.jpg")
      img(src="images/items/824010_0.jpg")
      img(src="images/items/520_0.jpg")
      img(src="images/items/670_0.jpg")
      img(src="images/items/868010_1.jpg")
      img(src="images/items/823020_0.jpg")
      img(src="images/items/807020_0.jpg")
      img(src="images/items/660_0.jpg")
      img(src="images/items/974020_0.jpg")
      img(src="images/items/838020_0.jpg")
      img(src="images/items/858010_0.jpg")
      img(src="images/items/855020_0.jpg")
      img(src="images/items/834010_0.jpg")
      img(src="images/items/969010_0.jpg")
      img(src="images/items/959020_0.jpg")
      img(src="images/items/20_0.jpg")
      img(src="images/items/946020_0.jpg")
      img(src="images/items/963010_0.jpg")
      img(src="images/items/240_0.jpg")
      img(src="images/items/815020_0.jpg")
      img(src="images/items/210_0.jpg")
      img(src="images/items/260_0.jpg")
      img(src="images/items/380_0.jpg")
      img(src="images/items/924010_0.jpg")
      img(src="images/items/250_0.jpg")
      img(src="images/items/816020_0.jpg")
      img(src="images/items/864020_1.jpg")
      img(src="images/items/858010_1.jpg")
      img(src="images/items/856020_0.jpg")
      img(src="images/items/826020_0.jpg")
      img(src="images/items/844020_0.jpg")
      img(src="images/items/530_0.jpg")
      img(src="images/items/906010_0.jpg")
      img(src="images/items/848010_0.jpg")
      img(src="images/items/290_0.jpg")
      img(src="images/items/971020_0.jpg")
      img(src="images/items/960010_0.jpg")
      img(src="images/items/912010_0.jpg")
      img(src="images/items/966010_0.jpg")
      img(src="images/items/871020_1.jpg")
      img(src="images/items/812010_0.jpg")
      img(src="images/items/974010_1.jpg")
      img(src="images/items/838010_0.jpg")
      img(src="images/items/936020_0.jpg")
      img(src="images/items/963020_1.jpg")
      img(src="images/items/918010_0.jpg")
      img(src="images/items/630_0.jpg")
      img(src="images/items/974010_0.jpg")
      img(src="images/items/100_2.jpg")
      img(src="images/items/843010_0.jpg")
      img(src="images/items/863010_0.jpg")
      img(src="images/items/600_0.jpg")
      img(src="images/items/811010_1.jpg")
      img(src="images/items/510_0.jpg")
      img(src="images/items/915020_0.jpg")
      img(src="images/items/710_0.jpg")
      img(src="images/items/811010_0.jpg")
      img(src="images/items/420_0.jpg")
      img(src="images/items/971020_1.jpg")
      img(src="images/items/846020_0.jpg")
      img(src="images/items/851010_0.jpg")
      img(src="images/items/908010_0.jpg")
      img(src="images/items/943010_0.jpg")
      img(src="images/items/926020_0.jpg")
      img(src="images/items/50_0.jpg")
      img(src="images/items/869010_0.jpg")
      img(src="images/items/150_0.jpg")
      img(src="images/items/964020_0.jpg")
      img(src="images/items/610_0.jpg")
      img(src="images/glyphicons-halflings-white.png")
      img(src="styles/mondobd/vendor/colorbox/images/border.png")
      img(src="styles/mondobd/vendor/colorbox/images/controls.png")
      img(src="styles/mondobd/vendor/colorbox/images/loading_background.png")
      img(src="styles/mondobd/vendor/colorbox/images/overlay.png")

    //if lt IE 7
      p.chromeframe
        | You are using an outdated browser.
        a(href='http://browsehappy.com/') Upgrade your browser today
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
        | to better experience this site.
    //
       Add your site or application content here 
    script(src='scripts/vendor/jquery.min.js')
    script
      window.jQuery || document.write('<script src="scripts/vendor/jquery.min.js"><\\/script>')
    //
       Google Analytics: change UA-XXXXX-X to be your site's ID. 
    //
      script
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    //
       build:js scripts/plugins.js 
    script(src='scripts/vendor/bootstrap/bootstrap-affix.js')
    script(src='scripts/vendor/bootstrap/bootstrap-alert.js')
    script(src='scripts/vendor/bootstrap/bootstrap-dropdown.js')
    script(src='scripts/vendor/bootstrap/bootstrap-tooltip.js')
    script(src='scripts/vendor/bootstrap/bootstrap-modal.js')
    script(src='scripts/vendor/bootstrap/bootstrap-transition.js')
    script(src='scripts/vendor/bootstrap/bootstrap-button.js')
    script(src='scripts/vendor/bootstrap/bootstrap-popover.js')
    script(src='scripts/vendor/bootstrap/bootstrap-typeahead.js')
    script(src='scripts/vendor/bootstrap/bootstrap-carousel.js')
    script(src='scripts/vendor/bootstrap/bootstrap-scrollspy.js')
    script(src='scripts/vendor/bootstrap/bootstrap-collapse.js')
    script(src='scripts/vendor/bootstrap/bootstrap-tab.js')
    //
       endbuild

    script(src='scripts/vendor/underscore.min.js')
    script(src='scripts/vendor/d3.v3.min.js')
    script(src='scripts/vendor/markdown-js.js')
    script(src='scripts/vendor/jquery.mousewheel.js')
    script(src='scripts/vendor/jquery.flexslider.js')
    script(src='scripts/vendor/jquery.cycle.lite.js')
    script(src='scripts/vendor/jquery.colorbox-min.js')
    
    //
       build:js scripts/amd-app.js 
    script(data-main='scripts/main', src='scripts/vendor/require.js')
    //
       endbuild 
