!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Phytolacca americana
  body.item-card
    :markdown
      # Phytolacca americana
      ## Famiglia: Phytolaccaceae
      ## NOMI COMUNI: Fitolacca, cremesina, amaranto o uva turca
      *Phytolacca* è un genere comprendente circa 35 specie perenni arbustive, erbacee e arboree originarie delle regioni tropicali e subtropicali. I fiori piccoli e senza petali hanno un colore generalmente bianco-verdastro, possiedono molti stami che si presentano al termine di peduncoli (possono raggiungere i 10 cm) raggruppati in lunghi (fino anche a 15 cm) grappoli penduli e alla maturità producono bacche carnose di un colore porpora tendente al nero. Poiché il genere comprende specie sia erbacee che arboree, il fusto può raggiungere dimensioni variabili. Le radici sono fusiformi. I frutti sono neri bluastri e, se spremuti, secernono un succo viola intenso.
      
      Specie invasiva, originaria del nord America coltivata nell'Europa meridionale come pianta da giardino, è oggi largamente naturalizzata ed infestante.
      
      Il nome generico deriva dal greco "phytón" = pianta e dall'indi "lakh" = un colorante estratto da un insetto, dalla tinta simile a quella violacea del succo contenuto nelle bacche; l'epiteto specifico indica il continente d'origine. I turioni appena spuntati dal terreno sono utilizzabili come gli asparagi; le foglie sono commestibili (sia pur con cautela per la presenza di sostanze tossiche); le bacche sono utilizzate industrialmente per produrre un colorante naturale per dolci e liquori; se ne possono fare marmellate e gelatine.
