!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Fragaria vesca
  body.item-card
    :markdown
      # Fragaria vesca
      ## Famiglia: Rosaceae
      ## NOME COMUNE: Fragola
      Piccola pianta perenne, alta 15-20 cm è originaria dell'Europa, dell'Asia e dell'America settentrionale. Forma piccoli ciuffi di foglie basali, sostenute da singoli fusti sottili.  In primavera   produce piccoli fiori bianchi, mentre in estate produce piccoli frutti rossi. Il frutto è in realtà un falso-frutto, esito del rigonfiamento del ricettacolo floreale prodottosi conseguentemente alla fecondazione del fiore. Questa struttura sferoide porta sulla sua superficie numerosi piccoli acheni neri, che altro non sono che il frutto vero e proprio, di cui è cosparsa la superficie. Pianta ubiquitaria la troviamo ovunque, presente in tutte le regioni d'Italia, cresce sia in pianura che in montagna sino al limite della vegetazione.
      
      Si distingue dalle varietà coltivate di Fragaria per il fatto che il frutto è piccolo e morbido (da cui il nome vesca che in [latino](http://it.wikipedia.org/wiki/Lingua_latina) significa molle). Secondo alcune fonti, il nome fragaria è [indoeuropeo](http://it.wikipedia.org/wiki/Indoeuropeo) ed è connesso al [sanscrito](http://it.wikipedia.org/wiki/Sanscrito) ghra, il cui significato è "fragranza".
