!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Chelidonia
  body.item-card
    :markdown
      # Chelidonium majus
      ## Famiglia: Papaveraceae
      ## NOME COMUNE: Chelidonia
      Pianta erbacea perenne, alta da 30 a 90 cm, ha il fusto ramificato e nodi ingrossati. I fiori hanno calice composto da due sepali caduchi e corolla con 4 petali gialli e venti stami. Il frutto contiene una fila di piccoli semi marroni con una cresta chiara.
      
      Il suo nome deriva dal latino coeli donum; i medici romani infatti ritenevano questa pianta un vero dono del cielo viste le sue grandi virtù terapeutiche. La celidonia è diffusissima lungo i fossi, vicino ai ruderi abbandonati; si riconosce facilmente perché spezzandone un rametto fuoriesce un lattice di colore giallo rossastro. È proprio questo lattice che contiene i principi attivi che contraddistinguono la celidonia: alcaloidi (tossici) e saponine; essa quindi ha un uso prettamente esterno. Il lattice è utile per bruciare verruche e calli. Fusti e foglie essiccate invece vengono usati nella medicina popolare per pediluvi utili per riattivare la circolazione.
