!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Ambrosia artemisifolia
  body.item-card
    :markdown
      # Ambrosia artemisifolia
      ## Famiglia: Asteraceae
      ## NOME COMUNE: Ambrosia
      Genere di piante annuali o perenni, dalla tipica infruttescenza a racemo. Sono piante infestanti e ne esistono più di 30 specie in tutto il mondo. Possono raggiungere mediamente l'altezza di 1–2 metri e formano a seconda dei casi dei cespugli o arbusti. I fiori sono [simpetali](http://it.wikipedia.org/wiki/Glossario_botanico#S) formati da [calice](http://it.wikipedia.org/wiki/Glossario_botanico#C), [corolla](http://it.wikipedia.org/wiki/Corolla), stami e pistillo. Il [calice](http://it.wikipedia.org/wiki/Glossario_botanico#C) e la [corolla](http://it.wikipedia.org/wiki/Corolla) sono formati da 5 elementi. L'[impollinazione](http://it.wikipedia.org/wiki/Impollinazione) avviene tramite insetti ([impollinazione entomogama](http://it.wikipedia.org/wiki/Impollinazione_entomogama)) oppure tramite il vento ([impollinazione anemofila](http://it.wikipedia.org/wiki/Impollinazione_anemofila)). I semi vengono dispersi dal vento ([disseminazione](http://it.wikipedia.org/wiki/Disseminazione) anemocora) ma anche da animali ([disseminazione](http://it.wikipedia.org/wiki/Disseminazione) zoocora), infatti dopo l'[impollinazione](http://it.wikipedia.org/wiki/Impollinazione), il fiore femmina si sviluppa in un ovoide spinoso, con 9-18 [spine](http://it.wikipedia.org/wiki/Spina) erette, contenente un seme con forma a punta di freccia, bruno quando maturo e più piccolo di un grano di [frumento](http://it.wikipedia.org/wiki/Frumento). Questo viene diffuso aggrappandosi al pelo o alle piume di animali che passano. I [semi](http://it.wikipedia.org/wiki/Semi) inoltre sono un alimento importante d'inverno per molte specie di uccelli.
      
      L'etimologia del nome del genere deriva dal greco “αμβροσία” (= ambrosìa), il nome del cibo che dava l'immortalità agli dei, derivato dal [greco](http://it.wikipedia.org/wiki/Lingua_greca_antica) άμβροτος (àmbrotos), che significa immortale. L'ambrosia attuale non ha nessun effetto di questo tipo e il nome è probabilmente legato al fatto che è una pianta molto resistente, tanto da essere considerata infestante.
