!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Artemisia vulgaris
  body.item-card
    :markdown
      # Artemisia vulgaris
      ## Famiglia: Asteraceae
      ## NOMI COMUNI: Artemisia comune, assenzio selvatico, amarella
      Pianta la cui altezza può arrivare fino a 5–20dm, possiede gemme svernanti al livello del suolo e protette dalla [lettiera](http://it.wikipedia.org/wiki/Glossario_botanico#L) o dalla neve, dotate di un asse fiorale eretto e spesso con poche foglie. È inoltre priva di [lattice](http://it.wikipedia.org/wiki/Lattice) (come le altre [Asteraceae](http://it.wikipedia.org/wiki/Asteraceae)), possiede però un odore aromatico di vermuth. L'[infiorescenza](http://it.wikipedia.org/wiki/Infiorescenza) è terminale ed è composta da piccoli [capolini](http://it.wikipedia.org/wiki/Capolino) [peduncolati](http://it.wikipedia.org/wiki/Glossario_botanico#P) o [sub-sessili](http://it.wikipedia.org/wiki/Sessilità) a forma [oblunga](http://it.wikipedia.org/wiki/Glossario_botanico#O)-ovata. I capolini sono raccolti in grandi [racemi](http://it.wikipedia.org/wiki/Glossario_botanico#R) formanti una pannocchia piramidale. La struttura dei capolini è quella tipica delle [Asteraceae](http://it.wikipedia.org/wiki/Asteraceae): il [peduncolo](http://it.wikipedia.org/wiki/Peduncolo_(botanica)) sorregge un [involucro](http://it.wikipedia.org/wiki/Fiore_delle_Asteraceae) da ovoidale a campanulato composto da diverse [squame](http://it.wikipedia.org/wiki/Glossario_botanico#S) a disposizione [embricata](http://it.wikipedia.org/wiki/Glossario_botanico#E) che fanno da protezione al [ricettacolo](http://it.wikipedia.org/wiki/Fiore_delle_Asteraceae) glabro sul quale s'inseriscono due tipi di fiori: quelli esterni [ligulati](http://it.wikipedia.org/wiki/Fiore_delle_Asteraceae) (assenti in questa [specie](http://it.wikipedia.org/wiki/Specie)), e i fiori centrali [tubulosi](http://it.wikipedia.org/wiki/Fiore_delle_Asteraceae). Mediamente per ogni capolino sono presenti 7–10 fiori femminile esterni e fino a 80 fiori bisessuali più interni. Le squame sono grigio-pelose. 
      
      L'[etimologia](http://it.wikipedia.org/wiki/Etimologia) del termine generico (Artemisia) non è sicura e sembra che derivi da [Artemisia](http://it.wikipedia.org/wiki/Artemisia_II), consorte di [Mausolo](http://it.wikipedia.org/wiki/Mausolo), re di [Caria](http://it.wikipedia.org/wiki/Caria); ma anche, secondo altre etimologie, potrebbe derivare dalla dea della caccia ([Artemide](http://it.wikipedia.org/wiki/Artemide)), oppure da una parola [greca](http://it.wikipedia.org/wiki/Lingua_greca_antica) ”artemes” (= sano) alludendo alle proprietà medicamentose delle piante del genere [Artemisa](http://it.wikipedia.org/wiki/Artemisa).
