!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Trifolium pratense L.
  body.item-card
    :markdown
      # Trifolium pratense L.
      ## Famiglia: Leguminosae 
      ## NOME COMUNE: Trifoglio pratense o violetto 
      Pianta con steli eretti, ramificati, cavi, alti fino a 0,8m ha infiorescenze globose, a capolino, composte da numerosi (80-100) fiori piccoli, tubolari, di colore roseo più o meno intenso, tendente al violaceo. Il sistema radicale è costituito da un piccolo fittone molto ramificato, per cui è piuttosto superficiale.
      
      Non resiste molto bene al freddo e predilige i terreni argillosi; tuttavia si adatta a quasi ogni tipo di suolo, purché non sia eccessivamente impregnato d'acqua. Come molte altre leguminose, il trifoglio ospita fra le sue radici dei [batteri](http://it.wikipedia.org/wiki/Bacteria) [simbionti](http://it.wikipedia.org/wiki/Simbiosi_(ecologia)) capaci di [fissare l'azoto atmosferico](http://it.wikipedia.org/wiki/Fissazione_dell%27azoto); viene utilizzato di conseguenza nel sistema di [rotazione delle colture](http://it.wikipedia.org/wiki/Rotazione_delle_colture) per migliorare la fertilità del suolo.
      
      È  senz'altro da tempo una delle leguminose foraggere più diffuse in Europa ed in alcuni Paesi del vecchio continente raggiunge estensioni di alcune centinaia di migliaia di ettari.
