!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Viola odorata
  body.item-card
    :markdown
      # Viola odorata
      ## Famiglia: Violaceae
      ## NOME COMUNE: Viola mammola
      Viola è un genere di piante comprendente circa 400 specie erbacee annuali o perenni, alte da 10 a 20 cm, con fioriture primaverili, in svariati colori e corolle dalla forma caratteristica. I fiori più grandi portati in alto vengono [impollinati dagli insetti](http://it.wikipedia.org/wiki/Impollinazione_entomofila), mentre i fiori più piccoli, localizzati in basso, non si aprono mai ([cleistogamia](http://it.wikipedia.org/wiki/Cleistogamia)) e attuano l'[autoimpollinazione](http://it.wikipedia.org/wiki/Autoimpollinazione). Generalmente con l'inizio della stagione calda, le piante interrompono la fioritura, stimolando la produzione dei [semi](http://it.wikipedia.org/wiki/Semi), concludendo il ciclo vegetativo. I semi, che in questo caso hanno corredo genetico simile a quello della pianta che li origina, cadono e germinano vicino alla pianta madre. Inoltre possono essere presenti degli [stoloni](http://it.wikipedia.org/wiki/Stolone), modificazioni di fusti che attuano la moltiplicazione vegetativa e danno origine a nuove piante geneticamente identiche alla pianta madre.
      
      Pianta autoctona, è diffusa in [Europa](http://it.wikipedia.org/wiki/Europa), nelle [zone tropicali](http://it.wikipedia.org/wiki/Zona_tropicale) e in America.
