!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Urtica dioica
  body.item-card
    :markdown
      # Urtica dioica
      ## Famiglia: Urticaceae
      ## NOME COMUNE: Ortica
      Come dice il nome stesso, l'Urtica dioica è una pianta dioica in quanto gli organi riproduttivi maschili (stami) e femminili (pistillo) sono portati su due piante distinte. I fiori femminili sono raccolti in spighe lunghe e pendenti e sono verdi, mentre i fiori maschili sono riuniti in spighe erette. Fiorisce da aprile a settembre. Nativa dell'[Europa](http://it.wikipedia.org/wiki/Europa), dell'[Asia](http://it.wikipedia.org/wiki/Asia), del [Nord Africa](http://it.wikipedia.org/wiki/Nord_Africa) e del [Nord America](http://it.wikipedia.org/wiki/Nord_America) è nota per possedere foglie e fusti ricoperti da tricomi (peli) contenenti una sostanza urticante. Quando si sfiora la pianta, l'apice dei peli si rompe e ne fuoriesce un liquido irritante formato principalmente da acetilcolina, istamina, serotonina e probabilmente acido formico.
      
      Nell'antichità veniva battuta e sfibrata per tessere stoffe ([ramia](http://it.wikipedia.org/wiki/Ramia)) simili alla [canapa](http://it.wikipedia.org/wiki/Canapa_(tessile)) o al [lino](http://it.wikipedia.org/wiki/Lino_(fibra)). Grazie alla [clorofilla](http://it.wikipedia.org/wiki/Clorofilla) che contiene in grandi quantità, può servire a colorare i tessuti delicati: le foglie [tingono](http://it.wikipedia.org/wiki/Tintura) di [verde](http://it.wikipedia.org/wiki/Verde), mentre le [radici](http://it.wikipedia.org/wiki/Radice_(botanica)) di [giallo](http://it.wikipedia.org/wiki/Giallo).
