!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Primula vulgaris
  body.item-card
    :markdown
      # Primula vulgaris
      ## Famiglia: Primulaceae
      ## NOMI COMUNI: Primula, primaverina, e occhio di civetta
      Primula è un genere  comprendente circa 500 specie di piante erbacee annuali e perenni, alte da pochi centimetri fino a diversi decimetri, con foglie basali a rosetta sessili o picciolate, fiori coloratissimi riuniti in ombrelle, capolini, grappoli o verticilli sovrapposti, circondati da brattee e sorretti da lunghi gambi. I frutti sono generalmente a capsula. La primula comune è una pianta [acaule](http://it.wikipedia.org/wiki/Glossario_botanico#A) (ossia i fiori e le foglie nascono direttamente dal [rizoma](http://it.wikipedia.org/wiki/Rizoma) sottostante). La fioritura è unica nel corso dell'anno (piante “monocarpiche” = un solo [frutto](http://it.wikipedia.org/wiki/Frutto) nell'arco della stagione). L'altezza varia da 8-15cm.
      
      Il nome deriva dal [latino](http://it.wikipedia.org/wiki/Lingua_latina) *primus* per indicare la precocità di fioritura che avviene subito dopo la scomparsa della neve, quando nei prati comincia a comparire l'erba.
