!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Taraxacum officinalis
  body.item-card
    :markdown
      # Taraxacum officinalis
      ## Famiglia Composite (Asteraceae)
      ## NOMI COMUNI: Tarassaco, dente di leone, soffione, dente di cane, cicoria matta, piscialletto, *pisciacane* e *polenta del diavolo*
      Pianta erbacea e perenne, di altezza compresa tra 3 e 9 cm, presenta una grossa radice a fittone dalla quale si sviluppa, a livello del suolo, una *rosetta* basale di foglie munite di gambi corti e sotterranei. Le foglie hanno margine dentato, caratteristica da cui deriva il nome di dente di leone. Il [fusto](http://it.wikipedia.org/wiki/Fusto), che si evolve in seguito dalle foglie, è cavo e porta all'apice un'infiorescenza giallo-dorata, detta [capolino](http://it.wikipedia.org/wiki/Capolino). Il [capolino](http://it.wikipedia.org/wiki/Capolino) è formato da due file di [brattee](http://it.wikipedia.org/wiki/Brattea) membranose, piegate all'indietro e con funzione di [calice](http://it.wikipedia.org/wiki/Calice_(botanica)), racchiudenti il [ricettacolo](http://it.wikipedia.org/wiki/Ricettacolo), sul quale sono inseriti centinaia di fiorellini, detti flosculi. Ogni [fiore](http://it.wikipedia.org/wiki/Fiore) è [ermafrodita](http://it.wikipedia.org/wiki/Ermafroditismo) e di forma ligulata, cioè la [corolla](http://it.wikipedia.org/wiki/Corolla) presenta una porzione inferiore tubolosa dalla quale si estende un prolungamento nastriforme (ligula) composto dai [petali](http://it.wikipedia.org/wiki/Petalo). La fioritura avviene in primavera ma si può prolungare fino all'autunno. L'impollinazione è di norma entomogama, ossia per il tramite di insetti, ma può avvenire anche grazie al vento (anemogama). Da ogni fiore si sviluppa un [achenio](http://it.wikipedia.org/wiki/Achenio), [frutto](http://it.wikipedia.org/wiki/Frutto) secco provvisto del caratteristico [pappo](http://it.wikipedia.org/wiki/Pappo_(botanica)): un ciuffo di peli bianchi, originatosi dal calice modificato, che, agendo come un [paracadute](http://it.wikipedia.org/wiki/Paracadute), agevola col vento la dispersione del [seme](http://it.wikipedia.org/wiki/Seme), quando questo si stacca dal capolino.
      
      Il tarassaco cresce spontaneamente nelle zone di pianura fino a un'altitudine di 2000m e in alcuni casi con carattere infestante. 
