!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Vinca minor
  body.item-card
    :markdown
      # Vinca minor
      ## Famiglia: Apocynaceae
      ## NOME COMUNE: Pervinca
      Vinca è un genere comprendente specie erbacee perenni, erette o striscianti. La pervinca minore è una liana erbacea perenne tipica del sottobosco, dove forma estesi tappeti sempreverdi, ma comune anche lungo i bordi delle strade. Alta 10-15cm, ha un portamento strisciante e tappezzante. I fiori compaiono tra marzo e maggio, con una possibile seconda fioritura in autunno, e sono caratterizzati da un colore azzurro-violetto, denominato appunto blu-pervinca. Nel sottobosco erbaceo, specialmente sotto le [querce](http://it.wikipedia.org/wiki/Querce), la pervinca forma grandi tappeti di fusti striscianti piuttosto esili ed alti al massimo 18cm che producono radici ai nodi. I fiori sbocciano su peduncoli di 1-1,5cm all'[ascella](http://it.wikipedia.org/wiki/Ascella_(botanica)) di corti rametti ascendenti. La [corolla](http://it.wikipedia.org/wiki/Corolla) è composta da 5 [petali](http://it.wikipedia.org/wiki/Petali) di un inconfondibile colore blu pervinca con l'apice troncato obliquamente.
      
      Nativa dell'Europa centrale e meridionale è una pianta piuttosto diffusa e coltivata a scopo ornamentale, soprattutto per realizzare bordure.
