!!! 5
html.no-js
  head
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic%7COpen+Sans+Condensed%3A300%2C700')
    title Mentha spicata
  body.item-card
    :markdown
      # Mentha spicata
      ## Famiglia: Labiateae
      ## NOMI COMUNI: Menta, mentastro verde
      Pianta erbacea perenne, stolonifera, fortemente aromatica, dal tipico sapore pungente e piccante. Alta da qualche centimetro a poco più di un metro, ha steli eretti e radici [rizomatose](http://it.wikipedia.org/wiki/Rizoma) che si espandono notevolmente nel suolo. I [fiori](http://it.wikipedia.org/wiki/Fiore) sono raccolti in spighe terminali, coniche, che fioriscono a partire dal basso verso l'alto. I singoli fiori, simpetali e irregolari, sono piccoli, di colore bianco, rosa o viola; la [corolla](http://it.wikipedia.org/wiki/Corolla), parzialmente fusa in un tubo, si apre in due labbra, la superiore con un solo lobo, l'inferiore con 3 lobi disuguali. La fioritura avviene in piena estate e prosegue fino all'autunno. Il [frutto](http://it.wikipedia.org/wiki/Frutto) è una tetrachenio che contiene da 1 a 4 [semi](http://it.wikipedia.org/wiki/Seme).
      
      Cresce in modo massiccio in tutta Europa, in Asia e in Africa e predilige sia le posizioni in pieno sole che la mezza ombra, ma può resistere anche a basse temperature.
      
      Secondo la [leggenda](http://it.wikipedia.org/wiki/Mitologia), la menta prende il nome dalla ninfa [Minthe](http://it.wikipedia.org/wiki/Menta_(mitologia)) o [Myntha](http://it.wikipedia.org/wiki/Menta_(mitologia)), amata da [Plutone](http://it.wikipedia.org/wiki/Plutone_(divinità)), che venne trasformata in pianta da [Proserpina](http://it.wikipedia.org/wiki/Proserpina).
